.title-p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.find-password-page {
    /* background-image: url("../../image/background.png"); */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.find-password-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    width: 500px; /* 폼의 전체 너비를 더 크게 설정 */
    height: 200px; /* 폼의 높이를 더 크게 설정 */
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.email-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-email {
    width: 60%; /* 입력 필드 너비를 폼 너비에 맞춤 */
    height: 60px;
    padding: 30px 12px;
    border: 1px solid #e5e8eb;
    background-color: #fff;
    font-size: 20px;
    font-weight: 700;
    outline: 0;
    box-sizing: border-box;
}

#send-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px; /* 로그인 버튼 너비를 줄임 */
    height: 60px;
    text-align: center;
    font-weight: 700;
    margin: 0 auto; /* 버튼을 가운데 정렬 */
}

#backImg {
    position: fixed;
    opacity: 40%;
    top: 0px;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-image: url("../../assets/images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}