.google-login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px; /* 아이콘 크기와 동일하게 설정 */
    height: 50px; /* 아이콘 크기와 동일하게 설정 */
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

.google-login-btn .nes-icon.google {
    font-size: 50px;
}