.title-p {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.login-page {
  /* background-image: url("../../image/background.png"); */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.login-form {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  width: 500px; /* 폼의 전체 너비를 더 크게 설정 */
  height: 500px; /* 폼의 높이를 더 크게 설정 */
  max-width: 90%;
}

.login-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 40px 0 40px 0;
  border: none;
  gap: 45px;
}

.login-footer {
  color: black;
  margin-top: 20px;
  translate: 0px 50px;
}

.notice-link {
  text-decoration: none;
  color: black;
}

.notice-link:hover {
  text-decoration: underline;
}

.login-input {
  border: 1px solid black;
  width: 100%; /* 입력 필드 너비를 폼 너비에 맞춤 */
  height: 50px;
  padding: 18px 12px;
  border: 1px solid #e5e8eb;
  background-color: #F5F5DC;
  font-size: 20px;
  font-weight: 700;
  outline: 0;
  box-sizing: border-box;
}

.nes-btn {
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
}

.find {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
}

#loginButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px; /* 로그인 버튼 너비를 줄임 */
  height: 60px;
  text-align: center;
  font-weight: 700;
  margin: 0 auto; /* 버튼을 가운데 정렬 */
}

.login-id {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-pw {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px; /* 입력 필드와 버튼 간의 간격을 조정 */
  padding-bottom: 20px;
}

#backImg {
  position: fixed;
  opacity: 40%;
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: url("../../assets/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
