.mypage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.mypage-content {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    width: 70%;
    max-width: 1200px;
}

.profile-section {
    background-color: #a4c9c9;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    border-right: 1px solid #ccc;
}

.profile-image-wrapper {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
    background-color: white; /* 필요 시 추가 */
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-name {
    font-weight: bold;
    margin-bottom: 10px;

}

.profile-icon-wrapper {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.profile-icon {
    width: 100%;
    height: 100%;
}

.info-section {
    flex: 2;
    padding: 20px;
    background-color: #fff;
}

.info-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.info-label {
    font-weight: bold;
}

.button-section {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.edit-button,
.delete-button {
    padding: 10px 20px;
    margin-left: 10px;
}

.edit-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

.delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    max-width: 80%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-content {
    display: flex;
    flex-direction: column;
}

.modal-item {
    margin-bottom: 15px;
}

.modal-item label {
    display: block;
    margin-bottom: 5px;
}

.modal-item input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.modal-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 20px;
}

#mypage-btn {
    margin: 0 auto;
}

.mypage-background {
    position: fixed;
    opacity: 40%;
    top: 0px;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-image: url("../../assets/images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}