.ranking-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #fff;
    width: 80%; /* 전체 너비를 차지하도록 설정 */
    max-width: 800px; /* 최대 너비 설정 */
    box-sizing: border-box; /* 패딩과 테두리를 포함한 전체 너비 계산 */
    margin: 30px auto;
    border-radius: 10px;
}

.ranking-header, .ranking-table {
    width: 100%; /* Header와 Footer의 너비와 일치 */
    margin-bottom: 20px;
}

.ranking-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tab-section {
    display: flex;
}

.rank-tab-button {
    background-color: #e6eaf3;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 16px;
    outline: none; /* 포커스 테두리 제거 */
}

.rank-tab-button:hover {
    background-color: #506fc3;
    color: white;
}

.rank-tab-button:focus {
    outline: none; /* 포커스 테두리 제거 */
}

.search-section {
    display: flex;
    align-items: center;
}

.rank-search-input {
    height: 44px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    outline: none; /* 포커스 테두리 제거 */
}

.rank-search-input:focus {
    outline: none; /* 포커스 테두리 제거 */
}

.search-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    outline: none; /* 포커스 테두리 제거 */
}

.search-button:hover {
    background-color: #0056b3;
}

.search-button:focus {
    outline: none; /* 포커스 테두리 제거 */
}

.ranking-table {
    width: 100%;
    border-collapse: collapse;
}

.ranking-table th,
.ranking-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.ranking-table th {
    background-color: #e6eaf3;
    font-weight: bold;
}

.rank-tab-button.active {
    background-color: #506fc3;
    border: 1px solid #506fc3;
    color: white;
}

.rank-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 45px;
}

.rank-pagination button {
    background-color: #e6eaf3;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    outline: none; /* 포커스 테두리 제거 */
}

.rank-pagination button:focus {
    outline: none; /* 포커스 테두리 제거 */
}

.rank-pagination button.active {
    color: #506fc3;
    font-size: 1.25em;
    font-weight: bold;
}

.rank-pagination button:hover {
    color: #506fc3;
    font-size: 1.25em;
    font-weight: bold;
}

.rank-pagination button:disabled {
    cursor: not-allowed;
    background-color: #e6eaf3;
}

.rank-back {
    position: fixed;
    opacity: 40%;
    top: 0px;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-image: url("../../assets/images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#rank-page-num {
    background-color: white;
}

#rank-search-btn {
    width: 80px;
}
