.register-page {
  background-image: url("../../image/registerbackground.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-form {
  background-color: #EBE8DF;
  padding: 40px;
  border-radius: 10px;
  width: 700px; /* 폼의 전체 너비를 더 크게 설정 */
}

.register-input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.register-input input {
  width: calc(100% - 160px); /* 인풋 박스 너비를 줄임 */
  height: 40px;
  padding: 10px;
  border: 1px solid #e5e8eb;
  background-color: #F5F5DC;
  font-size: 16px;
  font-weight: 700;
  outline: 0;
  box-sizing: border-box;
}

.register-input.email-input {
  display: flex;
  align-items: center;
  gap: 10px; /* 요소들 간의 간격을 조정 */
}

.register-input.email-input span {
  margin: 0 5px;
}

.register-input.email-input select,
.register-input.email-input input[type="text"] {
  width: 137px; /* 도메인 입력 필드와 선택 박스의 너비를 고정 */
  height: 40px;
  padding: 10px;
  border: 1px solid #e5e8eb;
  background-color: #F5F5DC;
  font-size: 16px;
  font-weight: 700;
  outline: 0;
  box-sizing: border-box;
}

#send-verification-code-button {
  height: 40px;
  width: 120px; /* 버튼의 너비를 고정 */
  margin-left: 5px;
  font-size: 15px;
}

#verify-email-button,
#check-nickname-button {
  height: 40px;
  width: 120px; /* 버튼의 너비를 고정 */
  margin-left: 10px;
  font-size: 15px; /* 이메일 인증 버튼과 동일한 폰트 크기 */
}

.button-container {
  display: flex;
  justify-content: center; /* 버튼들을 가운데 정렬 */
  gap: 20px; /* 버튼들 사이에 간격을 줌 */
  margin-top: 20px;
}

#registerButton,
#cancelButton {
  width: 20%; /* 버튼의 너비를 20%로 설정 */
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
}

#error-message {
  color: red;
  font-size: 12px;
  margin-top: 1px;
}

#success-message {
  color: green;
  font-size: 12px;
  margin-top: 1px;
}
